- var ENTERT_PROGRAM = LANG.entertaining_program;

section.entertaining-program
	.container
		h2.entertaining-program__title.title-color!= ENTERT_PROGRAM.title
		.entertaining-program__list
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_1.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_1
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_2.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_2
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_3.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_3
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_4.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_4
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_5.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_5
			.program-item
				.program-item__wrap-ico
					img.program-item__ico(src="img/svg/program_6.svg", alt="ico")
				p.program-item__text!= ENTERT_PROGRAM.text_6