- var SCHEDULE = LANG.schedule;
- var MAIN = LANG.main;


section.schedule
	.wrapper
		.schedule__wrapper
			.schedule__left
				h2.schedule__title!= SCHEDULE.title_main
				a.schedule__btn.schedule__btn--desc.btn-main.js-scroll(href="#check-in")!= MAIN.btn
			.schedule__right
				h2.schedule__subtitle.title-color!= SCHEDULE.subtitle
				.schedule__list
					ul.list-schedule
						li.list-schedule__item
							p.list-schedule__time 12:00 - 13:00
							p.list-schedule__text!= SCHEDULE.item_1
						li.list-schedule__item
							p.list-schedule__time 13:00 - 13:40
							p.list-schedule__text!= SCHEDULE.item_2
						li.list-schedule__item
							p.list-schedule__time 13:40 - 14:20
							p.list-schedule__text!= SCHEDULE.item_3
						li.list-schedule__item
							p.list-schedule__time 14:20 - 14:50
							p.list-schedule__text!= SCHEDULE.item_4
						li.list-schedule__item
							p.list-schedule__time 14:50 - 15:30
							p.list-schedule__text!= SCHEDULE.item_5
						li.list-schedule__item
							p.list-schedule__time 15:30 - 16:10
							p.list-schedule__text!= SCHEDULE.item_6
						li.list-schedule__item
							p.list-schedule__time 16:10 - 20:00
							p.list-schedule__text!= SCHEDULE.item_7
			a.schedule__btn.schedule__btn--mob.btn-main.js-scroll(href="#check-in")!= MAIN.btn