- var SCHEDULE = LANG.schedule;
- var MAIN = LANG.main;


section.schedule
	.container
		.schedule__wrapper
			.schedule__left
				h2.schedule__title!= SCHEDULE.title_main
				a.schedule__btn.schedule__btn--desc.btn.js-scroll(href="#check-in")!= MAIN.btn
			.schedule__right
				h2.schedule__subtitle.title-color!= SCHEDULE.subtitle
				.schedule__list
					ul.list-schedule
						li.list-schedule__item
							p.list-schedule__time 14:00 - 14:40
							p.list-schedule__text!= SCHEDULE.item_1
						li.list-schedule__item
							p.list-schedule__time 14:40 - 15:00
							p.list-schedule__text!= SCHEDULE.item_2
						li.list-schedule__item
							p.list-schedule__time 15:00 - 16:00
							p.list-schedule__text!= SCHEDULE.item_3
						li.list-schedule__item
							p.list-schedule__time 16:00 - 17:00
							p.list-schedule__text!= SCHEDULE.item_4
						li.list-schedule__item
							p.list-schedule__time 17:00 - 18:00
							p.list-schedule__text!= SCHEDULE.item_5
						li.list-schedule__item
							p.list-schedule__time 18:00 - 19:00
							p.list-schedule__text!= SCHEDULE.item_6
						li.list-schedule__item
							p.list-schedule__time 19:00 - 01:00
							p.list-schedule__text!= SCHEDULE.item_7
			a.schedule__btn.schedule__btn--mob.btn.js-scroll(href="#check-in")!= MAIN.btn