- var SPEAKERS = LANG.speakers;
- var MAIN = LANG.main;

.speakers
	.container
		.speakers__wrapper
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name
				p.speaker__post!= SPEAKERS.post
				p.speaker__title!= SPEAKERS.title
				p.speaker__time!= SPEAKERS.time
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name
				p.speaker__post!= SPEAKERS.post
				p.speaker__title!= SPEAKERS.title
				p.speaker__time!= SPEAKERS.time
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name
				p.speaker__post!= SPEAKERS.post
				p.speaker__title!= SPEAKERS.title
				p.speaker__time!= SPEAKERS.time
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name
				p.speaker__post!= SPEAKERS.post
				p.speaker__title!= SPEAKERS.title
				p.speaker__time!= SPEAKERS.time
		a.speakers__btn.btn.js-scroll(href="#check-in")!= MAIN.btn