- var SPEAKERS = LANG.speakers;
- var MAIN = LANG.main;

.speakers
	.wrapper
		.speakers__wrapper
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_1.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name_1
				p.speaker__post!= SPEAKERS.post_1
				p.speaker__title!= SPEAKERS.title_1
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_2.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name_2
				p.speaker__post!= SPEAKERS.post_2
				p.speaker__title!= SPEAKERS.title_2
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_3.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name_3
				p.speaker__post!= SPEAKERS.post_3
				p.speaker__title!= SPEAKERS.title_3
			.speaker.speaker--secret
				.speaker__photo-wrap
					img(src="img/speaker.png", alt="speaker")
				p.speaker__name.title-color!= SPEAKERS.name
				//- p.speaker__post!= SPEAKERS.post
				//- p.speaker__title!= SPEAKERS.title
		a.speakers__btn.btn-main.js-scroll(href="#check-in")!= MAIN.btn